@use '@/styles/variables.scss' as *;

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-xl * 2;

  .icon {
    width: 160rpx;
    height: 160rpx;
    background: $color-bg-hover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacing-md;

    .iconText {
      font-size: 80rpx;
    }
  }

  .text {
    font-size: $font-size-md;
    color: $color-text-tertiary;
  }
}
